<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <table>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
          {% for todo in todolist %}
          <tr>
            <td>{{ todo.name }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
